<div class="auto-tests">

  <div class="auto-test-results">
    <div class="bar" *ngIf="runningTests>0"><loading-hint loaderText="Running Tests"></loading-hint></div>
    <code class="auto-test-output fail" *ngFor="#failure of failedTests">{{failure}}</code>
    <code class="auto-test-output success" *ngFor="#success of passedTests">{{success}}</code>
  </div>
  <div>
    <p>Running tests : {{runningTests}}</p>
    <p>FailedTests : {{failedTests.length}}</p>
    <p>Passed Tests : {{passedTests.length}}</p>
  </div>
</div>